@import "variables";

.btn {
  &-primary {
    color: #fff;
    background-color: $primary;

    &, &:hover, &:focus:active, &:focus, &:disabled {
      border-color: transparent;
      outline: none;
      background-color: $primary;
      box-shadow: unset;
    }

    &:not([disabled]):not(.disabled):not([ng-reflect-disabled="true"]):hover {
      background-color: rgba(0, 0, 0, .75);
    }
  }

  &-icon {
    display: inline-block;
    border-radius: 30px;
    padding: 0.5rem;

    &:hover {
      color: $primary;
      background-color: $secondary;
    }
  }

  &:disabled, &[ng-reflect-disabled="true"] {
    pointer-events: none;
    cursor: default;
    background: #f5f5f5;
    color: #ccc;
  }
}
