<div class="row">
  <ng-container *ngIf="review$ | async as review">
    <div class="col-md-8">
      <h4 class="cart-basket-title">Basket</h4>
      <ng-container *ngFor="let item of review.lines">
        <cart-item [item]="item"></cart-item>
      </ng-container>
    </div>

    <div class="col-md-4">
      <div class="cart-summary">
        <h3 class="cart-summary-title">Summary</h3>

        <ol class="nav flex-column">
          <li class="nav-item">
            <div class="summary-text">Subtotal</div>
            <div class="summary-text">{{review.subTotal| currency}}</div>
          </li>

          <li class="nav-item">
            <div class="summary-text">Estimated Shipping & Handling</div>
            <div class="summary-text">--</div>
          </li>

          <li class="nav-item">
            <div class="summary-text">Estimated Tax</div>
            <div class="summary-text">--</div>
          </li>
        </ol>

        <div class="cart-summary-total">
          <div class="fw-bold">Total</div>
          <div class="fw-bold">{{review.total| currency}}</div>
        </div>

        <div class="cart-summary-action">
          <button class="btn btn-primary rounded" (click)="doCheckout()">
            Checkout
          </button>
        </div>
      </div>
    </div>
  </ng-container>
</div>
