:host {
  display: block;
  padding-top: 0.5rem;
}

.cart {
  &-summary {
    .nav-item {
      display: flex;
      justify-content: space-between;
    }

    &-title {
      font-size: 22px;
      line-height: 1.5;
      font-weight: 500;
    }

    [class*="col-"] {
      position: relative;
      min-height: 1px;
      font-size: 16px;
      line-height: 1.75;
      padding-left: 8px;
    }

    &-total {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid rgb(229, 229, 229);
      border-bottom: 1px solid rgb(229, 229, 229);
      padding: 16px 0 12px;
      margin: 1rem 0;
    }

    &-action {
      display: grid;
      padding: 1rem 0;

      .btn-primary {
        padding: 18px 24px;
      }
    }
  }
}
