:host {
  display: flex;
  padding: 1.5rem 0;
  width: 100%;

  &:not(:last-child) {
    border-bottom: 1px solid #e5e5e5;
  }
}

:host-context(cart) {
  .cart-item-body{
    min-height: 140px;
  }
}

.cart-item {
  &-name, &-category {
    margin-bottom: 0.5rem;
  }

  &-thumbnail {
    width: 180px;
    padding-right: 16px;
    display: table-cell;
  }

  &-wrap {
    flex: 1 auto;
  }

  &-selector-tools {
    display: flex;
    align-items: center;
  }

  &-price {
    text-align: right;
  }
}
